<app-bank-account bankName="RBC" id="4747"></app-bank-account>
<interval-dir (everyFiveSeconds)="everyFiveSeconds()"></interval-dir>

<h1>My First Attribute Directive</h1>
<h4>Pick a highlight color</h4>
<div>
  <input type="radio" name="colors" (click)="color='lightgreen'">Green
  <input type="radio" name="colors" [(ngModel)]="color" [value]="'yellow'">Yellow
  <input type="radio" name="colors" [(ngModel)]="color" value="cyan">Cyan
</div>
<p [appHighlight]="color">Highlight me!</p>
<p [appHighlight]="color" [defaultColor]="'violet'">Highlight me too!</p>
<p appHighlight defaultColor="orange">Highlight me in orange.</p>

<h1>Structural Directives</h1>

<h2>ngSwitch</h2>
<div>Pick your favorate hero</div>
<p>
  <label *ngFor="let h of heroes">
    <input type="radio" name="heroes" [(ngModel)]="hero" [value]="h">{{h.name}}
  </label>
  <label><input type="radio" name="heroes" (click)="hero = null">None</label>
</p>

<h4>NgSwitch</h4>
<div [ngSwitch]="hero?.emotion">
  <app-happy-hero *ngSwitchCase="'happy'" [hero]="hero"></app-happy-hero>
  <app-sad-hero *ngSwitchCase="'sad'" [hero]="hero"></app-sad-hero>
  <app-confused-hero *ngSwitchCase="'confused'" [hero]="hero"></app-confused-hero>
  <app-unknown-hero *ngSwitchDefault [hero]="hero"></app-unknown-hero>
</div>

<p><i>&lt;select&gt; with &lt;ng-container&gt;</i></p>
<div>
  Pick your favorite hero
  (<label><input type="checkbox" [checked]="showSad" (change)="showSad = !showSad">show sad</label>)
</div>
<label for="heroSelect" class="mr-3">请选择一个英雄</label>
<select [(ngModel)]="hero" id="heroSelect">
  <ng-container *ngFor="let h of heroes">
    <ng-container *ngIf="showSad || h.emotion !== 'sad'">
      <option [ngValue]="h">{{h.name}} ({{h.emotion}})</option>
    </ng-container>
  </ng-container>
</select>

<hr>

<h2>UnlessDirective</h2>
<p>
  The condition is currently
  <span [ngClass]="{'a': !condition, 'b': condition, 'unless': true}">{{condition}}</span>
  <button (click)="condition = !condition"
          [ngClass]="{'a': condition, 'b': !condition}">
    Toggle condition to {{condition ? 'false' : 'true'}}
  </button>
</p>
<p *appUnless="condition" class="unless a">
  (A) This paragraph is displayed because the condition is false.
</p>
<p *appUnless="!condition" class="unless b">
  (B) Although the condition is true,
  this paragraph is displayed because myUnless is set to false.
</p>

<h2>Two-way Binding</h2>
<div>
  <app-sizer [(size)]="fontSizePx"></app-sizer>
  <label>FontSize (px): <input [(ngModel)]="fontSizePx"></label>
</div>

<div class="d-flex flex-column p-2 bg-secondary">
  <div *ngFor="let h of heroes" class="p-2 bg-light">
    <app-hero-detail [hero]="h" (deleteRequest)="deleteHero($event)">Hero Detail</app-hero-detail>
  </div>
</div>

<h2>Should mankind colonize the Universe?</h2>
<h3>Agree: {{agreed}}, Disagree: {{disagreed}}</h3>
<app-voter *ngFor="let hero of heroes" [name]="hero.name"
           (onVoted)="onVoted($event)">
</app-voter>

<h3>Countdown to Liftoff (via local variable)</h3>
<button (click)="timer.start()">Start</button>
<button (click)="timer.stop()">Stop</button>
<div class="seconds">{{timer.seconds}}</div>
<app-countdown-timer #timer></app-countdown-timer>

<h2>Source code version</h2>
<button (click)="newMinor()">New minor version</button>
<button (click)="newMajor()">New major version</button>
<app-version-child [major]="major" [minor]="minor"></app-version-child>

<h3>Pipe</h3>
<p>The hero's birthday is {{birthday | date:format | uppercase}}</p>
<button (click)="toggleFormat()">Toggle Format</button>

<h2>Power Boost Calculator</h2>
<div>Normal power: <input [(ngModel)]="strenth"></div>
<div>Boost factor: <input [(ngModel)]="factor"></div>
<p>Hero's strenth is {{strenth | exponent:factor}}</p>

<h2>Master controls {{names.length}} names</h2>
<app-name-child *ngFor="let n of names" [name]="n"></app-name-child>

<app-async-message></app-async-message>

<h2>Heroes from JSON File</h2>
<div *ngFor="let h of ('assets/api/heroes.json' | fetch)">
  {{h.name}}
</div>

<p>Heroes as JSON: {{'assets/api/heroes.json' | fetch | json}}</p>

<app-mission></app-mission>

<button type="button" class="btn btn-warning"
        (click)="isSpecial = !isSpecial">Toggle
</button>
<div [class.special]="isSpecial" [style.color]="isSpecial ? 'red' : 'green'">
  The class binding is special
</div>
<div class="text-white" [class.special]="!isSpecial"
     [style.background-color]="!isSpecial ? 'cyan' : 'gray'">
  This one is not so special
</div>

<p>currentClasses is {{currentClasses | json}}</p>
<div [ngClass]="currentClasses">This div is initially saveable, unchanged, and special</div>

<div [ngStyle]="currentStyles">
  This div is initially italic, normal weight, and extra large (24px).
</div>
