<app-title [subtitle]="'(Final)'"></app-title>

<nav>
  <a routerLink="/crisis" routerLinkActive="active">Crisis Center</a>
  <a routerLink="/superheroes" routerLinkActive="active">Heroes</a>
  <a routerLink="/example" routerLinkActive="active">Example</a>
  <a routerLink="/form" routerLinkActive="active">Form</a>
  <a>Login</a>
  <a routerLink="/contact" routerLinkActive="active">Contact</a>
  <a routerLink="/ad" routerLinkActive="active">AD</a>
  <a routerLink="/http/config" routerLinkActive="active">HTTP</a>
</nav>
<router-outlet></router-outlet>
