.hero-profile {
  border: 1px solid gray;
  padding: 5px;
  padding-bottom: 20px;
  padding-left: 20px;
  border-radius: 10px;
  background-color: lightgreen;
  color: black;
}

.job-add {
  border: 1px solid gray;
  padding: 5px;
  padding-bottom: 20px;
  padding-left: 20px;
  border-radius: 10px;
  background-color: lightblue;
  color: black;
}

ad-banner {
  width: 400px;
}

.seconds {
  background-color: darkgrey;
  color: red;
  font-size: 3em;
  margin: 0.3em 0;
  text-align: center;
  width: 1.5em;
}
